@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

.main-bg {
  background-color: black;
}
.logo-font {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.navbar-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  
}